<div id="fh5co-wrapper">
  <div id="fh5co-page">
    <header id="fh5co-header-section" class="sticky-banner">
      <div class="container">
        <div class="nav-header">
          <a href="#" class="js-fh5co-nav-toggle fh5co-nav-toggle dark"
            ><i></i
          ></a>
          <h1 id="fh5co-logo">
            <a routerLink=""><i class="fa fa-plane"></i>Easy travel</a>
          </h1>
          <!-- START #fh5co-menu-wrap -->
          <nav id="fh5co-menu-wrap" role="navigation">
            <ul class="sf-menu" id="fh5co-primary-menu">
              <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"><a routerLink="">Home</a></li>
              <li routerLinkActive="active"><a routerLink="posts">Blog</a></li>
              <li routerLinkActive="active"><a routerLink="contact-us">Contact</a></li>
            </ul>
          </nav>
        </div>
      </div>
    </header>

    <!-- end:header-top -->
    <router-outlet></router-outlet>

    <footer>
      <div id="footer">
        <div class="container">
          <div class="row row-bottom-padded-md">
            <div class="col-md-6 col-sm-2 col-xs-12 fh5co-footer-link">
              <h3>About Easy travel</h3>
              <p>
                Far far away, behind the word mountains, far from the countries
                Vokalia and Consonantia, there live the blind texts.
              </p>
            </div>
            <div class="col-md-2 col-sm-2 col-xs-12 fh5co-footer-link">
              <h3>Links</h3>
              <ul>
                <li><a routerLink="">Home</a></li>
                <li><a routerLink="posts">Posts</a></li>
                <li><a routerLink="contact-us">Contact us</a></li>
              </ul>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6 col-md-offset-3 text-center">
              <p class="fh5co-social-icons">
                <a href="#"><i class="fab fa-twitter"></i></a>
                <a href="#"><i class="fab fa-facebook"></i></a>
                <a href="#"><i class="fab fa-instagram"></i></a>
                <a href="#"><i class="fab fa-youtube"></i></a>
              </p>
              <p>
                Copyright {{currentYear}} Easy travel. 
              </p>
            </div>
          </div>
        </div>
      </div>
    </footer>
  </div>
</div>

<app-loading></app-loading>